<div>
  <ts-text-annotation-details [textAnnotation]="textAnnotation"
                              *ngIf="textAnnotation"
                              [whenCompletedAction]="onCompletedTextAnnotation"
  ></ts-text-annotation-details>
</div>
