:host{
  width:700px;
}

div.header{
  width:100%;
  font-weight: bold;
  font-size: 130%;
  height: 2em;
}
div.selector-row{
  display: flex;
  flex-direction: row;
}

div.selector-toggle{
  flex-shrink: 3em;
  flex-grow: 3em;
}

div.selector-text{
  flex-basis: auto;
  padding-left: 0.5em;
}
