<div>
  <div class="header">Map layers</div>
  <div class="selector-row" *ngFor="let x of selectedMapLayers.availableMapLayers.list"
       (mouseenter)="mouseInMapLayer(x)"
       (mouseleave)="mouseOutMapLayer()"
  >
    <div class="selector-toggle">
      <mat-slide-toggle [checked]="selectedIds[x.id]" (change)="changeToggle(x.id, $event.checked)">

      </mat-slide-toggle>
    </div>
    <div class="selector-text">
      {{x.title}}
    </div>
  </div>
  <div *ngIf="focusMapLayerDescription"><hr/></div>
  <div *ngIf="focusMapLayerDescription">
    <ts-tile-system-details [mapLayerDescription]="focusMapLayerDescription"></ts-tile-system-details>
  </div>
</div>
