/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.mat-dialog-container {
  background: #fffa;
  border: #333 1px solid;
}

div.text-annotation-popup.text {
  max-width: 15em;
  padding-top:0.3em;
  width: 100%;
}

div.text-annotation-popup.label-group {
  width: 100%;
}
div.text-annotation-popup.label-group div.label{
  float: right;
  border: blue solid 1px;
  margin-left:0px;
  margin-right:4px;
  padding-left:2px;
  padding-right:2px;
  border-radius: 3px;
}
div.text-annotation-popup.tile-system-id {
  clear: right;
  width: 100%;
  font-size: 70%;
  color: gray;
}
div.text-annotation-popup.menu.edit {
  position: absolute;
  top: 5px;
  right: 23px;
  cursor: pointer;
  background-image: url('assets/icons/ic_mode_edit_black_24dp_2x.png');
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  /* turn it red*/
  filter: invert(25%) sepia() saturate(10000%) hue-rotate(10deg) drop-shadow(1px 1px 2px gray);
  width: 16px;
  height: 16px;
}
