<mat-drawer-container class="main-container">
  <mat-drawer-content>
    <ts-map-base></ts-map-base>
  </mat-drawer-content>
  <mat-drawer #sidenav position="end" mode="side" opened="false">
    <ts-side-drawer-content ></ts-side-drawer-content>
  </mat-drawer>

</mat-drawer-container>
