<div>
  <div class="output"  *ngIf="showDetails">> {{toolOutput}}</div>
  <div *ngFor="let button of buttons"
       angulartics2On="click"
       angularticsAction="button.angularticsAction"
       angularticsLabel="button.angularticsLabel"
  >
    <button mat-raised-button
            class="action"
            (click)="button.fclick()"
    >
      <mat-icon>{{button.icon}}</mat-icon>
      <span *ngIf="showDetails"> {{button.description}} </span>
    </button>
  </div>
  <button mat-icon-button class="close" (click)="buttonCloseClick()" *ngIf="showDetails">
    <mat-icon class="mat-18" >clear</mat-icon>
  </button>
</div>
