:host {
  background: pink;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 10000;
}

button.action {
  width: 100%;
  padding-left: .3em;
  padding-right: 0.3em;
  text-align: left;
  min-width: 0px;
}

button.close {
  position: absolute;
  top: 0px;
  right: 0px;
}

div.output {
  min-width: 15em;
  vertical-align: middle;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: .5em;
  background: lightgray;
}
