<ts-text-annotation-selector></ts-text-annotation-selector>
<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>settings</mat-icon> <span>configuration</span>
</button>
<mat-menu #menu="matMenu">
  <button  mat-menu-item
           (click)="openMapLayerSelector()"
           angulartics2On="click"
           angularticsAction="menu"
           angularticsLabel="open-map-layer-selector"
  >
    <mat-icon>filter</mat-icon><span> map layers</span>
  </button>
</mat-menu>
