<form [formGroup]="taForm" novalidate>
  <mat-form-field>
    <textarea matInput formControlName="text"></textarea>
    <mat-hint align="end">Annotation text</mat-hint>
    <mat-error *ngIf="taForm.controls['text'].errors && taForm.controls['text'].errors.isTextLess">You must enter a non-empty text</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select mat-input formControlName="tileSystemId">
      <mat-option *ngFor="let id of (tileSystemIds)" [value]="id"
                  (mouseenter)="mouseInMapLayer(id)"
                  (mouseleave)="mouseOutMapLayer()"
      >
        {{ id }}
      </mat-option>
    </mat-select>
    <mat-hint align="end">Tile system id
    </mat-hint>
    <mat-error *ngIf="taForm.controls['tileSystemId'].errors && taForm.controls['tileSystemId'].errors.required">You must select a tile system to attach your annotation</mat-error>
  </mat-form-field>
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList formArrayName="labels" [value]="labels">
      <mat-chip *ngFor="let label of labels" [selectable]="selectable"
                [removable]="removable" (remove)="removeChipLabel(label)">
        {{label}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addChipLabel($event)"/>
    </mat-chip-list>
    <mat-hint align="end">add & remove labels</mat-hint>
  </mat-form-field>
  <div class="action-buttons">
    <button mat-raised-button color="primary" type="submit" value="Submit"
            (click)="update()">
      {{textAnnotation.id?'Update':'Create'}}
    </button>
    <button mat-raised-button color="basic" type="cancel" value="cancel" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="warn" [disabled]="!textAnnotation.id" (click)="remove()">
      {{isRemoveWaitingConfirmation?'Twice to remove':'Remove'}}
    </button>
  </div>
</form>
