mat-form-field{
  width:100%;
}

textarea{
  border: lightgray solid 1px;
  height:4em;
}

div.action-buttons{
  display: flex;
  flex-direction: row;
}
button{
  margin:2px;
  margin-top:0.5em;
  flex: 1 1
}
